
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

*{
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    
}

body{
    background: #eee;
}


header{
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    border: 2px solid;
}

.namelogo{
    float: left;
    color: white;
    font-family: 'Cinzel Decorative';
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

nav ul{

    list-style: none;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-right: 5px;
    
}

nav ul li a {
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    line-height: 500%;
    font-size: 16px;
    
}
nav ul li a.active{
    background: green;
    color:#fff;
    border-radius: 6px;
}

nav ul li a:hover{
    background: blue;
    border-radius: 6px;
    transition: 0.8s;
   
}

header.sticky{
    background: rgba(0, 0, 0, 0.856);
    transition: 2s;
}



.containerlogo{
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    padding-top: 60%;
    background: #222;

}

.containerlogo .logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.containerlogo .logo.logo1{
    background: url('/img/logo/house.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 75% 0, 35% 100%, 0 100%);
    
    
}

.containerlogo .logo.logo2{
    background: url('/img/logo/sala.jpg');
    background-size: cover;
    clip-path: polygon(75% 0, 100% 0, 100% 100%, 35% 100%);
    
}

.containerlogo:hover .logo{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: 0.8s;
}

.containerlogo .logo:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    
}


.trabajos{
   
    margin-top: 20px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    /*
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid;
    color: black;

    */
}

.trabajos p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.05em;
   
}

.trabajos p:hover{
    text-decoration: underline green;
    transition: 0.82s;

}


.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: static;
}

.container .card{
    
    background-size: cover;
    width: 300px;
    height: 330px;
    border-radius: 18px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(128, 128, 128, 0.315);

}



.container .card img{
    background-size: cover;
    width: 100%;
    height: 240px;
}

.container .card h4{
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding: 5px;
}

.container .card p{
    padding: 0 lrem;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: white;

}

.button {
    width: 60%;
    border-radius: 8px;
    background: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

  .button:hover{
    background: blue;
    transition: 1s;

  }

  #Servicios{
      
  }


  /*Gallery*/

.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: static;
   
}

.wrapper .gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: static;
}



.gallery .image{
    
    background-size: cover;
    width: 330px;
    overflow: hidden;
    text-align: center;
    border-radius: 18px;
    margin: 5px;

}

.gallery .image img{
    background-size: cover;
    height: 220px;
    width: 100%;

}










